*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#f4f7ff;
}

.main-container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:260px;
    background:white;
    padding:25px 20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    border-right:1px solid #e5e7eb;
}

.logo-area{
    margin-bottom:30px;
}

.logo-img{
    width:120px;
    margin-bottom:10px;
}

.logo-area h3{
    color:#2563eb;
    margin-bottom:5px;
}

.logo-area p{
    font-size:12px;
    color:#777;
    line-height:1.5;
}

.menu{
    list-style:none;
}

.menu li{
    margin-bottom:10px;
}

.menu a{
    text-decoration:none;
    color:#555;
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px 14px;
    border-radius:12px;
    transition:0.3s;
    font-size:14px;
}

.menu a:hover,
.menu .active{
    background:#2563eb;
    color:white;
}

.hero-img img{
    width:100%;
    margin-top:20px;
}

.logout-btn{
    text-decoration:none;
    color:#ef4444;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:10px;
}

.content{
    flex:1;
    padding:35px;
}

.content h1{
    font-size:30px;
    color:#1e293b;
    margin-bottom:10px;
}

.breadcrumb{
    color:#94a3b8;
    margin-bottom:30px;
    font-size:14px;
}

.table-card{
    background:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 4px 15px rgba(0,0,0,0.05);
    overflow-x:auto;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#2563eb;
    color:white;
}

th{
    padding:15px;
    text-align:left;
    font-size:14px;
}

td{
    padding:15px;
    border-bottom:1px solid #e5e7eb;
    font-size:14px;
    color:#334155;
}

tr:hover{
    background:#f8fafc;
}

.status{
    padding:6px 12px;
    border-radius:20px;
    font-size:12px;
    font-weight:600;
}

.normal{
    background:#dcfce7;
    color:#16a34a;
}

.kurus{
    background:#dbeafe;
    color:#2563eb;
}

.gemuk{
    background:#fee2e2;
    color:#dc2626;
}