body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

/* LAYOUT */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 30px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* FORM */
.form-card input,
.form-card select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 12px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* HASIL */
.hasil-box {
    background: #dff5e8;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.hasil-box h1 {
    color: #2ecc71;
    font-size: 32px;
}

/* DETAIL */
.detail-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #f9fafb;
    padding: 12px;
    border-radius: 10px;
}

.icon {
    font-size: 20px;
    width: 40px;
    height: 40px;
    background: #eef2ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.placeholder {
    color: #888;
}