body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

.bd-index {
    background: #fbfbfc;
}

h1 {
    font-size: 42px;
}

.navbar-brand {
    margin-top: 0px;
    margin-bottom: 0px;
}

.card {
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.bg-primary {
    background: linear-gradient(90deg, #2d6cdf, #4a8cff) !important;
}

.btn-primary {
    border-radius: 25px;
}

.btn-outline-primary {
    border-radius: 25px;
}

.why-box {
    background: linear-gradient(90deg, #e9f4fc);
    padding: 35px 20px;
    margin: 0px;
    border-radius: 20px;
    margin-bottom: 0px;
}

.bii {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cta-section {
    background: linear-gradient(90deg, #c8e6fc);
    padding: 35px 20px;
    margin: 0px;
    border-radius: 20px;
    margin-bottom: 0px;
}

.fitur-card {
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.fitur-img {
    width: 60px;
    height: 60px;
}

.cta-text h3 {
    color: #0d3c91;
}

.cta-text p {
    color: #1f4bb8;
}

.cta-section .btn {
    background: white;
    color: #1f4aa8;
    border-radius: 30px;
    padding: 10px 25px;
    font-weight: 500;
    transition: 0.3s;
}

.cta-section .btn:hover {
    background: #1f4aa8;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.footer-index {
    background: #0d3c91;
    color: white;
    padding: 35px 20px;
    margin-top: 0;
}

.footer-index h5, .footer-index h6 {
    font-weight: bold;
}

/* LAYOUT */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 30px;
}

/* CARD */
.card-kal {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* FORM */
.form-card input,
.form-card select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 12px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* HASIL */
.hasil-box {
    background: #dff5e8;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.hasil-box h1 {
    color: #2ecc71;
    font-size: 32px;
}

/* DETAIL */
.detail-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #f9fafb;
    padding: 12px;
    border-radius: 10px;
}

.icon {
    font-size: 20px;
    width: 40px;
    height: 40px;
    background: #eef2ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.placeholder {
    color: #888;
}